<div class="country-list-container">
  <label for="country-list">Country: </label>
  <select class="custom-select d-block w-100" 
    id="country-list" 
    (change)="selectCountry($event.target.value)"
  >
    <option *ngFor="let country of countries" value={{country.code}} [selected]="countryCode === country.code">
      {{country.name}}
    </option>
  </select>
</div>
