<h5>2. Complete the payment</h5>
<div class="fp-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group fp-form__cardholder-name">
      <input 
        class="form-control"
        type="text" placeholder="Cardholder name"
        name="cardholder-name"
        required
        formControlName="cardholderName"
      >
      <span class="has-error" *ngIf="form.get('cardholderName').invalid && form.get('cardholderName').touched">
        Invalid cardholder name
      </span>
    </div>

    <div class="form-group fp-form__card-number" 
      [ngClass]="{'has-error': form.get('cardNumber').invalid && form.get('cardNumber').touched}"
    >
      <input 
        class="form-control"
        type="number" placeholder="Card number"
        name="card-number"
        required
        formControlName="cardNumber"
      >
      <span class="has-error" *ngIf="form.get('cardNumber').invalid && form.get('cardNumber').touched">
        Invalid card number
      </span>
    </div>

    <div formGroupName="expDate">
      <div class="form-group fp-form__exp-year">
        <input 
          class="form-control"
          type="number" placeholder="Expired year"
          name="exp-year"
          required
          formControlName="expYear"
        >
        <span class="has-error" *ngIf="form.get('expDate.expYear').invalid && form.get('expDate.expYear').touched">
          Invalid year
        </span>
      </div>

      <div class="form-group fp-form__exp-month">
        <input 
          class="form-control"
          type="number" placeholder="Expired month"
          name="exp-month"
          required
          formControlName="expMonth"
        >
        <span class="has-error" *ngIf="form.get('expDate.expMonth').invalid && form.get('expDate.expMonth').touched">
          Invalid month
        </span>
        <div class="has-error" *ngIf="form.get('expDate').invalid && form.get('expDate.expYear').touched && form.get('expDate.expMonth').touched">
          Invalid date
        </div>
      </div>
    </div>
    
    <div class="form-group fp-form__cvv">
      <input 
        class="form-control"
        type="text" placeholder="CVV"
        name="cvv"
        required
        formControlName="cvv"
      >
      <div class="has-error" *ngIf="form.get('cvv').invalid && form.get('cvv').touched">
        Invalid CVV code
      </div>
    </div>

    <input 
      class="btn btn-success"
      [class.btn-disabled]="form.invalid"
      type="submit" value="Pay {{amount}}$"
      [disabled]="form.invalid"
    >
    <br>
  </form>
  <ngb-alert *ngIf="form.valid && isSubmited" type="success" [dismissible]="false">
    <strong>Success!</strong> Everything is ok
  </ngb-alert>
</div>