.widget-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

label {
  form {
    display: inline-block;

    .ng-invalid.ng-touched {
      border-color: red;
    }
  }
}