<div class="widget-container">
  <form class="d-block w-100" [formGroup]="form">
    <label>Amount $:</label>
    <input 
      class="form-control"
      type="number" 
      [min]="minAmountValue" 
      formControlName="amount" 
      [(ngModel)]="amount" 
      (input)="onAmountChanged()"
    >
  </form>

  <div class="has-error" *ngIf="form.get('amount').invalid && form.get('amount').touched">
    The value is incorrect.
  </div>
</div>
<fp-country-selector 
  *ngIf="countryCode" 
  [countryCode]="countryCode"
  (onSelectCountry)="updatePaymentMethods($event)"
></fp-country-selector>
<fp-payment-methods 
  *ngIf="countryCode" 
  [countryCode]="countryCode"
  [payments]="payments"
></fp-payment-methods>