<h5>1. Select payment method</h5>

<div class="payment-methods">
  <ng-container *ngIf="payments">
    <div class="card" *ngFor="let payment of payments;" (click)="onPaymentSelect()">
      <div class="card-body">
        <div class="bd-placeholder-img card-img-top">
          <img src="{{payment.img_url}}" alt="{{payment.name}}">
        </div>
        <div class="card-title">
          {{payment.name}}
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="payments === undefined">
    <span class="info-message">Loading...</span>
  </ng-container>
  <ng-container *ngIf="!payments && (payments !== undefined)">
    <span class="info-message">There are no payment methods available for your country.</span>
  </ng-container>
</div>
<ng-template #formContainer></ng-template>