h5 {
  padding: 0 20px;
}

.payment-methods {
  display: flex;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 100%;
}

.info-message {
  padding: 0 20px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .card {
    width: auto;
  }
}